<div class="footer">
  <div class="flex-column">
    <img src="assets/img/icons/git-icon.png" alt="">
    <a class="d-done-mobile" href="">Impressum</a>
  </div>
  <span> &#169; Boubkir Benamar 2023</span>
  <div class="social-icons">
      <img src="assets/img/icons/github-button-icon.png" alt="">
      <img src="assets/img/icons/email-button-icon.png" alt="">
      <img src="assets/img/icons/linkedin-button-icon.png" alt="">
  </div>
  <a class="d-done-desktop" routerLink="/imprint">Imprint</a>
</div>