<div class="footer">
  <div class="flex-column">
    <img src="assets/img/b-logo.png" alt="">
    <a class="d-done-mobile" href="">Impressum</a>
  </div>
  <span> &#169; Boubkir Benamar 2023</span>
  <div class="social-icons">
      <a target="_blank" href="https://github.com/Boubkir"><img src="assets/img/icons/github-button-icon.png" alt=""></a>
      <a href=""><img src="assets/img/icons/email-button-icon.png" alt=""></a>
      <a target="_blank" href=""><img src="assets/img/icons/linkedin-button-icon.png" alt=""></a>
  </div>
  <a class="d-done-desktop" routerLink="/imprint">Imprint</a>
</div>