<div class="contact-icon-div">
  <img src="assets/img/lines/line-about-me.png" alt="">
  <img src="assets/img/icons/github-button-icon.png" alt="">
  <img src="assets/img/icons/email-button-icon.png" alt="">
  <img src="assets/img/icons/linkedin-button-icon.png" alt="">
  <a>boubkir@hotmail.de</a>
</div>
<div class="about-me">
  <div class="about-me-text">
    <h2>About me</h2>
    <div class="about-me-text-div">
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, sint sapiente! Illo explicabo nihil
        cupiditate libero sapiente praesentium deserunt officiis consectetur fugit nemo optio officia, distinctio velit
        eligendi, rerum exercitationem.
      </span>
      <div class="display-flex">
        <img class="bulb" src="assets/img/icons/bulb-icon.png" alt="">
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate distinctio dolorem harum, a esse,
          laudantium totam, iure repellat labore maiores est praesentium sint debitis odit. Quidem temporibus aperiam ea
          vero.</span>
      </div>
      <div class="display-flex">
        <img class="puzzle" src="assets/img/icons/puzzle-icon.png" alt="">
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa nostrum hic molestias tenetur suscipit ea
          architecto dolorum, obcaecati sequi vel asperiores, vero cum. Nam excepturi vero culpa minus dolore
          quidem?</span>
      </div>
    </div>
  </div>
  <div class="about-me-picture">
    <img class="portrait" src="assets/img/pictures/hero-profile.png" alt="" srcset="">
    <div class="profile-blur">
      <img class="pblur" src="assets/img/blurs/profil-picture-blur.png" alt="">
      <img src="assets/img/lines/about-me-line.png" alt="">

    </div>
  </div>
</div>