<div id="about-me-section" class="contact-icon-div">
  <img src="assets/img/lines/line-about-me.png" alt="">
  <a target="_blank" href="https://github.com/Boubkir"><img src="assets/img/icons/github-button-icon.png" alt=""></a>
  <a href="#contact-section"><img src="assets/img/icons/email-button-icon.png" alt=""></a>
  <a target="_blank" href="https://www.linkedin.com/in/boubkir-benamar"><img src="assets/img/icons/linkedin-button-icon.png" alt=""></a>
  <a href="#contact-section" class="email">mail@boubkir-benamar.de</a>
</div>
<div class="about-me">
  <div class="about-me-text">
    <h2>About me</h2>
    <div class="about-me-text-div">
      <span>I am a frontend developer with a passion for creating beautiful and functional user interfaces. My expertise
        lies in
        building responsive and intuitive web applications using the latest technologies and frameworks.
      </span>
      <div class="display-flex">
        <img class="bulb" src="assets/img/icons/bulb-icon.png" alt="">
        <span>If you're looking for a reliable and experienced frontend developer who can transform your ideas into reality, then look
        no further. Let's work together to bring your vision to life and create something truly exceptional.</span>
      </div>
      <div class="display-flex">
        <img class="puzzle" src="assets/img/icons/puzzle-icon.png" alt="">
        <span>Thank you for visiting my website. Feel free to explore my portfolio and get in touch with me to discuss your project
        requirements.And let me be the last puzzle for your success.</span>
      </div>
    </div>
  </div>
  <div data-aos="zoom-in" class="about-me-picture">
    <img class="portrait" src="assets/img/pictures/hero-profile.png" alt="" srcset="">
    <div class="profile-blur">
      <img class="pblur" src="assets/img/blurs/profil-picture-blur.png" alt="">
      <img src="assets/img/lines/about-me-line.png" alt="">

    </div>
  </div>
</div>