.overflow-hidden {
  overflow: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1800px;
  width: 100vw;
}
