.contact-div {
  position: relative;
}

.display-flex {
  display: flex;
  align-items: center;
  margin-bottom: 85px;

  h2 {
    font-size: 90px;
    font-weight: 700;
    margin-left: 50px;
    color: white;
  }
}

.text-div {
  color: white;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
}

.question {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  width: 617px;
  gap: 35px;
  color: white;

  input {
    height: 50px;
    background-color: transparent;
    border: 1px solid #4b47ff;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    color: white;

    &:hover{
       border: 1px solid #00bee8;
    }
  }

  textarea {
    height: 202px;
    background-color: transparent;
    border: 1px solid #4b47ff;
    border-radius: 10px;
    display: flex;
    padding: 15px 25px;
    color: white;
    resize: none;

       &:hover{
       border: 1px solid #00bee8;
    }
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    width: 253px;
    height: 58px;
    background: #00bee8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 23px;
    margin-bottom: 234px;

    &:hover {
      transform: scaleX(1.1) scaleY(1.1) ;
      transition: all 225ms ease-in-out;
      background-color: #4b47ff;

    }
  }
}

.center {
  display: flex;
  justify-content: center;
}

::placeholder {
  color: white;
  opacity: 1;
}

.contact-blur {
  position: absolute;
  bottom: -83px;
  height: 469px;
  left: 0;
  z-index: -1;
}

*:focus {
  outline: #4b47ff 1px solid;
  border: unset;
}

@media (max-width: 720px) {
  .contact-div {
    justify-content: center;
    margin-right: 0;
  }

  .display-flex {
    h2 {
      font-size: 45px;
      margin: 0;
      margin-left: 5px;

      img {
        width: 20px;
        height: 4px;
      }
    }
  }

  .space-between {
    flex-direction: column;
    align-items: center;
  }

  form {
    width: 90%;
    margin-right: 0;
    margin-top: 45px;

    button {
      width: 195px;
      height: 49px;
      font-size: 16px;
      margin-bottom: 162px;
    }
  }

  .text-div {
    margin: 0;
    width: 90%;
  }
}
