<div id="contact-section" class="contact-div">
  <div class="display-flex">
    <img src="assets/img/lines/contact-line.png" alt="">
    <h2>Contact</h2>
  </div>


  <div class="center">
    <div class="space-between">
      <div class="text-div">
        <span class="question">Got a problem to solve?</span>
        <span>Contact me through this form, I am interessted in hearing <br> you, knowing your ideas and contributing to
          your projects <br> with my work</span>
        <span>Need a Frontend developer? <strong>Contact me!</strong></span>
      </div>



      <form (submit)="sendMail()" ngNativeValidate #myForm>
        <input required type="text" name="name" placeholder="Your name" #nameField>
        <input required type="email" name="mail" placeholder="Your email" #emailField>
        <textarea required name="message" placeholder="Your message" #messageField cols="30" rows="10"></textarea>
        <div class="center">
          <button #sendButton>Send message :)</button>
        </div>
      </form>
    </div>
    <img class="contact-blur" src="assets/img/blurs/contact-blur.png" alt="">
  </div>
</div>