<div id="portfolio-section" class="portfolio-div">
  <div class="title-div">
    <img src="assets/img/lines/portfolio-line-left.png" alt="">
    <h2>Portfolio</h2>
    <img src="assets/img/lines/portfolio-line-right.png" alt="">
  </div>
  <span>This page is s sample of work - please feel free to try them out.</span>
  <ng-container *ngFor="let project of projects; let i = index">
    <app-picture-text-div *ngIf="i % 2 == 0; else reverse" [title]="project['title']" [img]="project['img']"
      [technology]="project['technology']" [description]="project['description']"
      [liveLink]="project['liveLink']" [gitLink]="project['gitLink']">
    </app-picture-text-div>
    <ng-template #reverse>
      <app-tetx-picture-div [title]="project['title']" [img]="project['img']"  [technology]="project['technology']"
        [description]="project['description']" [liveLink]="project['liveLink']"
        [gitLink]="project['gitLink']"> 
      </app-tetx-picture-div>
    </ng-template>
  </ng-container>
  <img class="p-blur-1" src="assets/img/blurs/portfolio-blur-1.png" alt="">
  <img class="p-blur-2" src="assets/img/blurs/portfolio-blur-2.png" alt="">
</div>