<div id="portfolio-section" class="portfolio-div">
  <div class="title-div">
    <img src="assets/img/lines/portfolio-line-left.png" alt="">
    <h2>Portfolio</h2>
    <img src="assets/img/lines/portfolio-line-right.png" alt="">
  </div>
  <span>This page is s sample of work - please feel free to try them out.</span>

  <app-picture-text-div [title]="examples[0]['title']" [img]="examples[0]['img']"
    [technology]="examples[0]['technology']" [description]="examples[0]['description']"
    [liveLink]="examples[0]['liveLink']" [gitLink]="examples[0]['gitLink']"></app-picture-text-div>
  <app-tetx-picture-div [title]="examples[1]['title']" [img]="examples[1]['img']"
    [technology]="examples[1]['technology']" [description]="examples[1]['description']"
    [liveLink]="examples[1]['liveLink']" [gitLink]="examples[1]['gitLink']"></app-tetx-picture-div>
  <app-picture-text-div [title]="examples[0]['title']" [img]="examples[0]['img']"
    [technology]="examples[0]['technology']" [description]="examples[0]['description']"
    [liveLink]="examples[0]['liveLink']" [gitLink]="examples[0]['gitLink']"></app-picture-text-div>
  <app-tetx-picture-div [title]="examples[0]['title']" [img]="examples[0]['img']"
    [technology]="examples[0]['technology']" [description]="examples[0]['description']"
    [liveLink]="examples[0]['liveLink']" [gitLink]="examples[0]['gitLink']"></app-tetx-picture-div>
  <app-picture-text-div [title]="examples[0]['title']" [img]="examples[0]['img']"
    [technology]="examples[0]['technology']" [description]="examples[0]['description']"
    [liveLink]="examples[0]['liveLink']" [gitLink]="examples[0]['gitLink']"></app-picture-text-div>
  <app-tetx-picture-div [title]="examples[0]['title']" [img]="examples[0]['img']"
    [technology]="examples[0]['technology']" [description]="examples[0]['description']"
    [liveLink]="examples[0]['liveLink']" [gitLink]="examples[0]['gitLink']"></app-tetx-picture-div>

  <img class="p-blur-1" src="assets/img/blurs/portfolio-blur-1.png" alt="">
  <img class="p-blur-2" src="assets/img/blurs/portfolio-blur-2.png" alt="">
</div>


