<div class="portfolio-div">
  <div class="title-div">
    <img src="assets/img/lines/portfolio-line-left.png" alt="">
    <h2>Portfolio</h2>
    <img src="assets/img/lines/portfolio-line-right.png" alt="">
  </div>
  <span>This page is s sample of work - please feel free to try them out.</span>

  <app-picture-text-div [content]="pictureTextContent[0]['project-name']" [img]="pictureTextContent[0]['img']"></app-picture-text-div>
  <app-tetx-picture-div [content]="pictureTextContent[1]['project-name']" [img]="pictureTextContent[0]['img']"></app-tetx-picture-div>
  <app-picture-text-div [content]="pictureTextContent[0]['project-name']" [img]="pictureTextContent[0]['img']"></app-picture-text-div>
  <app-tetx-picture-div [content]="pictureTextContent[1]['project-name']" [img]="pictureTextContent[0]['img']"></app-tetx-picture-div>
  <app-picture-text-div [content]="pictureTextContent[0]['project-name']" [img]="pictureTextContent[0]['img']"></app-picture-text-div>
  <app-tetx-picture-div [content]="pictureTextContent[1]['project-name']" [img]="pictureTextContent[0]['img']"></app-tetx-picture-div>

    <img class="p-blur-1" src="assets/img/blurs/portfolio-blur-1.png" alt="">
    <img class="p-blur-2" src="assets/img/blurs/portfolio-blur-2.png" alt="">
</div>