<div class="my-sklills">
      <div class="get-in-touch-button">
        <button class="d-none-desktop">Get in touch</button>
      </div>
  <div class="my-skills-icons">
    <div class="icon-flex">
      <img src="assets/img/icons/angular-icon.png" alt="" srcset="">
      <span>Angular</span>
    </div>

    <div class="icon-flex">
      <img src="assets/img/icons/typescript-icon.png" alt="" srcset="">
      <span>TypeScript</span>
    </div>

    <div class="icon-flex">
      <img src="assets/img/icons/js-icon.png" alt="" srcset="">
      <span>JavaScript</span>
    </div>

    <div class="icon-flex">
      <img src="assets/img/icons/html-icon.png" alt="" srcset="">
      <span>HTML</span>
    </div>

    <div class="icon-flex">
      <img src="assets/img/icons/firebase-icon.png" alt="" srcset="">
      <span>Firebase</span>
    </div>

    <div class="icon-flex">
      <img src="assets/img/icons/git-icon.png" alt="" srcset="">
      <span>GIT</span>
    </div>

    <div class="icon-flex">
      <img src="assets/img/icons/css-icon.png" alt="" srcset="">
      <span>CSS</span>
    </div>

    <div class="icon-flex">
      <img src="assets/img/icons/rest-api-icon.png" alt="" srcset="">
      <span>Rest-Api</span>
    </div>

    <div class="icon-flex">
      <img src="assets/img/icons/scrum-icon.png" alt="" srcset="">
      <span>Scrum</span>
    </div>

    <div class="icon-flex">
      <img src="assets/img/icons/material-icon.png" alt="" srcset="">
      <span>Material<br>design</span>
    </div>

    <div class="icon-flex">
      <img src="assets/img/icons/wordpress-icon.png" alt="" srcset="">
      <span>Wordpress</span>
    </div>

    <img class="skill-blur" src="assets/img/blurs/my-skill-blur.png" alt="" srcset="">
  </div>
  <div class="my-skills-text">
    <span class="display-flex">
      <h2>My skills</h2><img src="assets/img/lines/line-my-skills.png" alt="" srcset="">
    </span>
    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic <br> facere voluptatem earum cupiditate
       sint ipsam repudiandae <br> enim obcaecati odit reprehenderit!
    </span>
    <div class="get-in-touch-button d-none-mobile">
    <button>Get in touch</button>
    </div>
  </div>
</div>