.my-sklills {
  margin-left: 100px;
  margin-top: 289px;
  display: flex;
  color: white;
  justify-content: space-between;
}

.my-skills-icons {
  display: flex;
  flex-wrap: wrap;
  width: 53%;
  gap: 100px;
  align-items: right;
  max-width: 721px;
  position: relative;

  div {
    width: 82px;
  }
}

.icon-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;

  span {
    margin-top: 10px;
    text-align: center;
  }

  
  &:hover img {
    position: relative;
    animation: jump 1s ease-in-out;
    animation-iteration-count: 1; 
  }
}

@keyframes jump {
  from {
    bottom: 11px;
  }
  to {
    bottom: 11px;
  }
}

.my-skills-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  max-width: 571px;

  span {
    font-size: 16px;
    text-align: right;
  }

  h2 {
    font-size: 90px;
    font-weight: 700;
    align-items: flex-end;
    margin-top: 34px;
    margin-bottom: 34px;
  }
}

.span-text {
  margin-right: 100px;
}

.get-in-touch-button {
  display: flex;
  justify-content: center;
  a {
    background: #00bee8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 200px;
    height: 58px;
    color: white;
    border: none;
    font-size: 23px;
    margin-top: 44px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scaleX(1.1) scaleY(1.1);
      transition: all 225ms ease-in-out;
      background-color: #4b47ff;
    }
  }
}

.display-flex {
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: flex-end;
  gap: 42px;

  img {
    right: -100px;
    width: 58px;
  }
}

.skill-blur {
  position: absolute;
  z-index: -1;
  top: 148px;
  left: -144px;
}

.d-none-desktop {
  display: none;
}


@media (max-width: 1100px){
   .my-sklills {
    flex-direction: column-reverse;
    justify-content: end;
    align-items: flex-end;
    margin-top: 154px;
    margin-left: 0;
  }

  .my-skills-icons {
    width: 100%;
    justify-content: center;
    gap: 97px;
    max-width: 100%;
  }

  .display-flex {
    font-size: 45px;

    img {
      width: 20px;
      height: auto;
      margin-left: 6px;
    }

    h2 {
      font-size: 45px;
    }
  }
  .my-skills-text span:nth-child(2) {
    margin: 0 26px;
    margin-bottom: 63px;
  }

  .my-skills-text {
    width: 100%;
  }

  .d-none-mobile {
    display: none;
  }

  .d-none-desktop {
    display: flex;
  }

  .get-in-touch-button {
    width: 100%;
    margin-top: 67px;

    button {
      width: 158px;
      padding: 15px 30px;
      box-sizing: border-box;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
    }
  }

}

@media (max-width: 720px) {
  .my-sklills {
    flex-direction: column-reverse;
    justify-content: end;
    align-items: flex-end;
    margin-top: 154px;
    margin-left: 0;
  }

  .my-skills-icons {
    width: 100%;
    justify-content: center;
    gap: 97px;
  }

  .display-flex {
    font-size: 45px;

    img {
      width: 20px;
      height: auto;
      margin-left: 6px;
    }

    h2 {
      font-size: 45px;
    }
  }
  .my-skills-text span:nth-child(2) {
    margin: 0 26px;
    margin-bottom: 63px;
  }

  .my-skills-text {
    width: 100%;
  }

  .d-none-mobile {
    display: none;
  }

  .d-none-desktop {
    display: flex;
  }

  .get-in-touch-button {
    width: 100%;
    margin-top: 67px;

    button {
      width: 158px;
      padding: 15px 30px;
      box-sizing: border-box;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
    }
  }
}
