<div class="my-sklills">
  <div class="my-skills-icons">
    <img src="assets/img/icons/angular-icon.png" alt="" srcset="">
    <img src="assets/img/icons/typescript-icon.png" alt="" srcset="">
    <img src="assets/img/icons/js-icon.png" alt="" srcset="">
    <img src="assets/img/icons/html-icon.png" alt="" srcset="">
    <img src="assets/img/icons/firebase-icon.png" alt="" srcset="">
    <img src="assets/img/icons/git-icon.png" alt="" srcset="">
    <img src="assets/img/icons/css-icon.png" alt="" srcset="">
    <img src="assets/img/icons/rest-api-icon.png" alt="" srcset="">
    <img src="assets/img/icons/scrum-icon.png" alt="" srcset="">
    <img src="assets/img/icons/material-icon.png" alt="" srcset="">
    <img class="skill-blur" src="assets/img/blurs/my-skill-blur.png" alt="" srcset="">
  </div>
  <div class="my-skills-text">
    <span class="display-flex">
      <h2>My skills</h2><img src="assets/img/lines/line-my-skills.png" alt="" srcset="">
    </span>
    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic <br> facere voluptatem earum cupiditate
       sint ipsam repudiandae <br> enim obcaecati odit reprehenderit!
    </span>
    <div class="get-in-touch-button">
    <button>Get in touch</button>
    </div>
  </div>
</div>