.i-am-section {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  img {
    height: 705px;
  }
}

.picture-div {
  position: absolute;
  left: 47px;
  width: 100%;
}

.blur-div {
  position: relative;
  width: 100%;
  top: -88px;
}

.shape-line {
  position: absolute;
  width: 100%;
  bottom: -419px;
  left: -50px;
}

.blur {
  position: absolute;
  left: -25px;
  z-index: -1;
}

.introduce {
  display: flex;
  color: white;
  padding-bottom: 361px;
  margin-right: 100px;
  z-index: 2;
}

.rotate {
  transform: rotate(-90deg);
  font-size: 64px;
  white-space: nowrap;
  display: flex;
  align-items: flex-end;
  padding-left: 110px;
}

.me {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  padding-left: 35px;
}

.name {
  font-size: 90px;
  font-weight: 700;
  margin: -6px 0;
  letter-spacing: -5px;
}

.job {
  font-size: 58px;
  color: #4847ff;
}

.lets-talk-button {
  display: flex;
  justify-content: center;
  button {
    background: #00bee8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 165px;
    height: 58px;
    color: white;
    border: none;
    font-size: 23px;
    cursor: pointer;
    margin-top: 44px;

    &:hover {
      transform: scaleX(1.1) scaleY(1.1);
      transition: all 225ms ease-in-out;
      background-color: #4b47ff;
    }
  }
}

@media (max-width: 720px) {
  .i-am-section {
    flex-direction: column;
    justify-content: unset;
    align-items: center;

    img {
      height: 410px;
    }
  }

  .picture-div {
    position: relative;
    left: unset;
    width: 100%;
  }

  .blur-div {
    position: unset;
    display: flex;
    justify-content: center;
  }

  .introduce {
    padding-bottom: unset;
  }

  .name {
    font-size: 45px;
  }

  .job {
    font-size: 29px;
  }

  .rotate {
    font-size: 32px;
  }

  .me {
    padding-left: 10px;
  }

  .shape-line {
    position: absolute;
    width: 100%;
    bottom: -248px;
    left: 0px;
    transform: rotateX(63deg);
  }

  .blur{
        left: 29px;
    top: 31px;
  }
}
