.i-am-section {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin-top: 100px;

  img {
    height: 705px;
  }
}

.picture-div {
  position: absolute;
  left: 47px;
  width: 100%;
}

.shape-line {
  position: absolute;
  width: 100%;
  bottom: -419px;
  left: -50px;
}

.blur {
  position: absolute;
  left: -25px;
  z-index: -1;
}

.introduce {
  display: flex;
  color: white;
  flex-direction: column;
  padding-bottom: 361px;
  margin-right: 100px;
  z-index: 2;
}

.display-flex {
  display: flex;
}

.rotate {
  transform: rotate(-90deg);
  font-size: 64px;
  display: flex;
  white-space: nowrap;
}

.me {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.name {
  font-size: 90px;
  font-weight: 700;
  margin: -6px 0;
  letter-spacing: -5px;
}

.job {
  font-size: 58px;
  color: #4847ff;
}

.lets-talk-button {
  display: flex;
  justify-content: center;
  a {
    background: #00bee8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 165px;
    height: 58px;
    color: white;
    border: none;
    font-size: 23px;
    cursor: pointer;
    margin-top: 44px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scaleX(1.1) scaleY(1.1);
      transition: all 225ms ease-in-out;
      background-color: #4b47ff;
    }
  }
}



@media (max-width: 1200px) {
  .i-am-section {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img {
      height: 410px;
    }
  }

  .picture-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: unset;
    width: unset;
  }

  .introduce {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: -139px;
  }

  .name {
    font-size: 45px;
    letter-spacing: -2px;
  }

  .job {
    font-size: 29px;
  }

  .rotate {
    font-size: 32px;
  }

  .shape-line {
    position: absolute;
    width: 100vw;
    bottom: -218px;
    left: 0px;
    transform: rotateX(63deg);
  }

  .blur {
    position: absolute;
    left: -47px;
  }
}

@media (max-width: 720px) {
  .i-am-section {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img {
      height: 410px;
    }
  }

  .picture-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: unset;
    width: unset;
  }

  .introduce {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: -139px;
  }

  .name {
    font-size: -2px;
  }

  .job {
    font-size: 29px;
  }

  .rotate {
    font-size: 32px;
  }

  .shape-line {
    position: absolute;
    width: 100vw;
    bottom: -218px;
    left: 0px;
    transform: rotateX(63deg);
  }

  .blur {
    position: absolute;
    left: -47px;
  }
}


@media (max-width: 450px) {
  img {
    height: 383px;
  }

  .rotate{
    font-size: 22px;
  }

  .name {
    font-size: 33px;
  }

  .job{
    font-size: 20px;
  }

  .lets-talk-button{
    a{
    width: 149px;
    height: 46px;
    font-size: 21px;
  }
}
}