<div class="i-am-section">
  <div class="picture-div">
    <img src="assets/img/pictures/hero-character-photo.png" alt="">
    <img class="blur" src="assets/img/blurs/hero-blur.png" alt="">
    <img class="shape-line" src="assets/img/shape-line-background.png" alt="">
  </div>
  <div class="introduce">
    <div class="display-flex">
      <span class="rotate">I am</span>
      <div class="me">
        <span class="name">Boubkir Benamar</span>
        <span class="job">FRONTEND DEVELOPER</span>
      </div>
    </div>
    <div class="lets-talk-button">
      <button>Let´s talk</button>
    </div>
  </div>
</div>