<div class="i-am-section">
  <div class="hero-div">
    <img class="hero-picture" src="assets/img/pictures/hero-character-photo.png" alt="">
    <img class="hero-blur" src="assets/img/blurs/hero-blur.png" alt="">
      <img class="background-shape" src="assets/img/shape-line-background.png" alt="">
  </div>
  <div class="introduce">
    <span class="rotate-180">I am</span>
    <div class="display-column">
      <span class="name">Boubkir Benamar</span>
      <span class="job">FRONTEND DEVELOPER</span>
      <div class="lets-talk-button">
        <button>Let´s talk</button>
      </div>
    </div>
  </div>

</div>