<div class="picture-text-div">
  <div class="picture">
    <img src="assets/img/{{img}}" alt="">
  </div>
  <div class="text-div">
    <h3>{{content}}</h3>
    <span class="languages">HTML | CSS | JavaScript</span>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sequi, soluta doloremque officiis
      perferendis error quis voluptatem reprehenderit, quidem consequatur ipsum corrupti modi ratione voluptate? Dicta
      harum debitis quod soluta!</span>
    <div class="button-div">
      <button class="live-test-button">Live test</button>
      <button class="github-button">Github</button>
    </div>
  </div>
</div>