<div class="picture-text-div">
  <div class="picture">
    <img src="assets/img/{{img}}" alt="">
  </div>
  <div class="text-div">
    <h3>{{content}}</h3>
    <span class="languages">HTML | CSS | JavaScript</span>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sequi, soluta doloremque officiis
      perferendis error quis voluptatem reprehenderit, quidem consequatur ipsum corrupti modi ratione voluptate? Dicta
      harum debitis quod soluta!</span>
    <div class="button-div">
      <a href="https://www.boubkir-benamar.developerakademie.net/El-Pollo-Loco/" class="live-test-button">Live test</a>
      <a href="https://github.com/Boubkir/El-Pollo-Loco" class="github-button">Github</a>
    </div>
  </div>
</div>