.picture-text-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 115px 100px;

  h3 {
    margin: 0;
    color: #4b47ff;
    font-size: 32px;
    font-weight: 700;
  }

  img {
    width: 420px;
    height: auto;
  }
}

.text-div {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-end;
  text-align: end;
  gap: 15px;
  width: 45%;
}

.button-div {
  margin-top: 35px;
  display: flex;
  overflow: auto;
  padding-bottom: 16px;
  gap: 86px;
}

.live-test-button,
.github-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 152px;
  height: 58px;
  background: #4b47ff;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "poppins" Arial, Helvetica, sans-serif;
  font-size: 16px;
  white-space: nowrap;
  padding: 0 8px;
  box-sizing: border-box;

  &:hover {
    background-color: #00bee8;
  }
}

.github-button {
  width: 137px;
  background-color: transparent;
  border: 1px solid #00bee8;
}

.picture {
  width: 55%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.languages {
  font-size: 23px;
  color: #00bee8;
}

@media (max-width: 720px) {
  .picture-text-div {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: unset;
    margin: unset;
    margin-bottom: 87px;
  }

  .button-div {
    gap: unset;
    justify-content: space-around;
    width: 100%;
  }

  .picture,
  .text-div {
    width: 90%;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .live-test-button,
  .github-button {
    width: 125px;
  }
}
